.recipeCard {
	--recipe-border: 1px solid var(--color-primary);
	--recipe-min-height: 2.5rem;

	border: var(--recipe-border);
}

.recipeCardHeaderPattern {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.recipeCardHeaderPatternRect {
	width: 100%;
	height: 100%;
	fill: url(#dotsPattern);
}

.recipeCardHeaderTitle {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	background-color: var(--color-background);
}

.recipeCardHeader {
	position: relative;
	display: flex;
	justify-content: center;
	min-height: var(--recipe-min-height);
	width: 100%;
	text-align: center;
	border-bottom: var(--recipe-border);
}

.recipeCardItemTitle,
.recipeCardItemAmount {
	display: flex;
	align-items: center;
}

.recipeCardItemTitle {
	padding: 0.5rem 1rem;
}

.recipeCardItemAmount {
	justify-content: center;
	border-left: var(--recipe-border);
	color: var(--color-primary);
}

.recipeCardItem {
	display: grid;
	grid-template-columns: 1fr var(--recipe-min-height);
	min-height: var(--recipe-min-height);
}

.recipeCardItem:not(:last-child) {
	border-bottom: var(--recipe-border);
}
