.main {
	position: relative;
	display: grid;
	gap: 2rem;
	grid-template-columns: 16rem 1fr 16rem;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

.topbar {
	grid-column: 1 / span 3;
	grid-row: 1;
}

.asideWrap {
	grid-row: 2;
}

.aside {
	position: relative;
	z-index: 11;
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 3;
	grid-row: 1 / span 2;
	min-width: 16rem;
	padding: 2rem;
	background-color: var(--color-secondary);
}

.content {
	grid-column: 2;
}