.main {
	position: relative;
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 42rem 1fr;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
}

.topbar {
	grid-column: 1 / span 3;
	grid-row: 1;
}

.asideWrap {
	grid-row: 2;
}

.aside {
	position: relative;
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 3;
	grid-row: 1 / span 2;
	padding: 2rem;
	background-color: var(--color-secondary);
}

.recipeGrid {
	display: grid;
	gap: 2rem;
	margin-top: 2rem;
}

.content {
	grid-column: 2;
	padding: 0 1rem 3rem;
}

.listColumns {
	display: grid;
	grid-template-columns: 1fr auto;
}

.listColumns:not(:last-child) {
	margin-bottom: 0.5rem;
}


@media (min-width: 767px) {
	.aside {
		z-index: 21;
		margin-right: 1.25rem;
	}

	.recipeGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.main {
		grid-template-columns: 1fr;
		gap: 0;
	}

	.topbar,
	.aside,
	.content {
		grid-column: auto;
		grid-row: auto;
	}

	.recipeGrid {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}